.fotos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    .galeria{
        width: 350px;
        height: 350px;
        margin-bottom: 3.5rem;
        border: double #ffffff;
        opacity: 0.5;
        &:hover{
            opacity: 1;
            border: white solid 2px;
        }
    }
}